html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    /* content: '>'; */
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #27394C;
  padding: 10px;
}

table td {
  border: 1px solid #27394C;
  padding: 5px;
  text-align: center;
  font-size: 16px;
}

table thead {
  background-color: #B3D89C;
  color: #27394C;
  font-size: 18px;
}
